* {
  margin:0;
  padding:0;
  }
html,body{
	height:100%;
}
.container{
	min-height: 100%;
}
.card-head{
	margin-left: 350px;
	box-shadow:-11px 11px 1px rgba(0,0,0,0.3);
	position:relative;
	width:400px;
	height:300px;
	background:#6B90BF;
	background:-moz-linear-gradient(-45deg,#6B90BF 8%,#586F8C; 83%);
	background:-webkit-linear-gradient(-45deg,#6B90BF 8%,#586F8C 83%);
	background:linear-gradient(135deg,#6B90BF 8%,#586F8C 83%);
	filter:prodig:DXIMAGETransform.Microsoft.gradient(
		startColorstr='#fa782e',endColorstr='#c82930',gradientType=1);
     border-radius: 25px 25px 0 0;
}
#imagecontainer{
	width:300px;
	height:300px;
	padding-left:0px;
	margin-top:100px;
	margin-left:230px;
	}

.navi img {
	width:70px;
	height:60px;
	border:2px solid=#dff9fb;
	margin:1px 5px;
	cursor:pointer;
	transition:0.05%;
}
.navi img:hover{
	border-color:#333;
}

.product-detail
{
	padding:0 20px;
	font-size:14px;
	color:#fff;
	margin-top: -430px;
	width:300px;
}
.product-detail h2
{
	font-size:18px;
	font-weight:500;
	letter-spacing:2px;
	padding-bottom:10px;

}
.back-text
{  
	display:inline-block;
	font-size:33px;
	font-weight:900px;
	margin-left:20px;
	opacity:0.1;
	margin-top: 97px;
}

.card-body
{
	min-height: 100%;
	width: 400px;
	height:300px;
	background:#BBD8F2;
	border-radius:0 0 25px 25px;
	margin-left:350px;
	box-shadow:-11px 11px 1px rgba(0,0,0,0.3);
}

.product-title
{
	padding:20px 20px 5px 20px;
	display:block;
	font-size:17px;
	font-weight:500;
	letter-spacing:1px;
	text-transofm:uppercase;
}

.product-title b
{
	font-weight:900;
	letter-spacing:8px;
}

.badge{
	position:relative;
	font-size:14px;
	font-weight:200;
	background:#6585ae;
	padding:5px 4px;
	border-radius:14px;
	top:15px;
	margin-left:180px;
	color:#fff;
}
.product-caption
{
	display:block;
	padding:0 20px;
	font-size:10px;
	font-weight:400;
	text-transform:uppercase;

}
.product-properties{
    margin-left: 0px;
    margin-top: 126px;
}











.product-image h4
{
	font-size:11px;
	padding:0 21px;
	margin-top:15px;
	paddng-bottom:10px;
	text-transform:uppercase;
}

.ul-image
{
	margin-left:15px;

}

.ul-image li 
{
	list-style:none;
	float:left;
	margin-right:20px;
}

.ul-image li a 
{
	display:inline-block;
	text-decoration:none;
	font-size:11px;
	width:20px;
	height:22px;
	border-radius:100%;
	text-align:center;
	line-height: 23px;
	color:#000;
}

.ul-image li a.active
{
	background:#3F4B59;;
	color:#fff;

}
.product-image:before, .product-image:after
{
	content:'';
	display:block;
	clear:both;
}

.product-color a h6{
	color: #f35e3d;
	margin-left: 22px;
}

.product-price{
    margin-top: -100px;
    position: absolute;
    background: #6585ae;
    padding: 7px 20px;
    text-align: center;
    display: inline-block;
    font-size: 24px;
    font-weight: 200;
    color: #fff;
    border-radius: 7px;
    margin-left: 270px;
box-shadow: -10px 20px 15px -10px #6585ae;
}

.product-price b{
	margin-left:5px;
}
.order:hover{
	background-color: #3F4B59;

}

.order{

    margin-top: -30px;
    position: absolute;
    padding: 0px 20px;
    text-align: center;
    display: inline-block;
    font-size: 24px;
    font-weight: 200;
    
    border-radius: 7px;
    margin-left: 230px;
box-shadow: -10px 20px 15px -10px #6585ae;


    color: #fff;
    cursor: pointer;
}

.order b{
	margin-left:5px;
}
.footer{

}

.card{
	width:100%;
	height: 100%;
}
#similar{
	margin-bottom:20px;
}